

html, body{
	height: 100%;
}
body {
	background: #f7f7f7;
	color: #3E4649;
	font-family: 'Montserrat', sans-serif;
}
#wrap{
	min-height:100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
#push, #footer{
	height: 40px;
	margin-bottom: 0px;
	padding-bottom; 0px;
}
#footer{
	background-color: #676767;
	text-align: center;
}
#footer p{
	color: #f7f7f7;
	font-size: 17px;
	margin-top: 5px;
}

h1,
h2{
	font-weight: bold;
}
p {
	font-size: 16px;
	color: #3E4649;
}

.logo {
	max-width:300px;
	margin-top: -30px;
}
.profilepic{
	margin-right: 0px;
	padding-right: 0px;
}

.jumbotron {

	background-blend-mode:normal ;
	background-position: 100% 10%;
	background-size: 500px;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	min-height: auto;
	max-width: 1000px;
	margin: auto;
}
.jumbotron h1{
	margin-top:200px;

	color: black;
}
.jumbotron p {
	margin-top: 50px;

	color: black;
	font-size: 26px;
}
.btn-primary {
	color: #f7f7f7;
	background-color: #990000;
	border-color: black;
	border-width: 4px;
	font-size: 33px;
	width: 180px;
	height: 60px;
}
.btn-primary:hover {
	color: #990000;
	background-color: #f7f7f7;
	border-color: black;
}
.navbar{
	background-color: #676767;
	height: 65px;
	border:0;
}
.navbar li{

	height: 65px;
}
.navbar-right a{
	margin-top: 8px;
	background-color: : #000000;
}

.navbar li:hover{
	background-color: #990000;
}
.navbar .navbar-right  li a {
	color: #f7f7f7;
	font-size: 40px;
}

.navbar-header button{
	margin-top: 7px;
	height: 50px;
	width: 70px;
}
.navbar-header .icon-bar{
	display:block;
	width: 45px;
	height: 5px;
	border-radius: 2px;
	margin: auto;
}
.collapsing, .in {
	background:#cccccc;
}
.collapsing ul li a, .in ul li a {color: #555!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
@media(min-width: 768px){
    .navbar > .container { max-width: 100%; padding: 0; }
}
.scrolling{
	max-width:160px;
}
/*
@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #000000;}
.collapsing ul li a, .in ul li a {color: #555!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
}
/*
.navbar-inverse {
	background: #2E2F31;
	border: 0;
	height: 65px;
}

.navbar-inverse ul{
	height:65px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #990000;
	height: 65px;
}
.dropdown-menu {
	color:#2E2F31;
	background: #2E2F31;
	border-radius: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}
*/

.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.glyphicon-large {
	font-size: 100px;
}
